@ charset "utf-8";

* { margin:0; padding:0; box-sizing:border-box; max-width:1920px;}
html {scroll-behavior:smooth;}
body {background:white;}


/*상단 메뉴 바*/

header {background:black; height: 150px; margin:0;}
header div {display:flex; /*border:solid 1px red;*/}
header a img {width:85%; margin-top: 40px; margin-left:30px; /*border:solid 1px pink;*/}
header ul {display:flex;}
header li {flex:1;list-style:none; /*border:solid 1px tomato;*/ margin:40px 182px 0 190px;}
header li  a{color:white; text-decoration:none; font-size:26px;}
.mu1 {font-weight:bold; font-size:30px; border-bottom:solid 3px white;}


main {text-align:center;}
main p {/*border:solid 1px red; */font-size: 28px; margin:80px 0 8px 0; padding:0;}
main p:nth-child(2) {margin-bottom:120px; margin-top:12px;}
/*main div {display:flex; flex-wrap:wrap; justify-content:space-evenly;}*/
main section {display:flex; flex-wrap:wrap; justify-content:space-evenly;}
main section  img {width:300px; height:310px;}
main  h1 {font-weight:normal; font-size:18px; /*border:solid 1px red;*/ margin:12px 0 8px 0; padding:0;}
main a  {/*border:solid 1px pink;*/ margin:0; margin-bottom:20px;  padding:0; display:inline-block;
				font-size:14px;
}


footer  {background:black; margin:86px 0 0 0;display:flex; padding-top:20px; height: 150px;}
footer span {flex:1;}
footer span a img {width:75px; height: 100px; padding-left: 20px;padding-top:15px;} 
footer section {display:flex; color:white; padding-top:60px;}
footer section p {padding:5px;}
footer div  {flex:1;background:black; height:50px; text-align:right;padding-top: 25px;}
footer div a{padding-bottom:10px;}
footer div a:last-child {padding-right:20px;}



.ch {width:20px; padding-right:10px;}
.talk {width:20px; padding-right:10px}
.instar {width:20px; padding-right:10px}
.mail {width:27px;}